## Working with SQL in Python 
Use an in-memory Sqlite3 database to store and retrieve information with SQL queries

In [ ]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()
cursor.execute('create table wood (id integer primary key, width INTEGER, thick INTEGER, length INTEGER, price REAL)')
connection.commit()

In [ ]:
# Common wood widths
widths = [1, 2, 4, 6, 8, 10, 12]

# Common wood thickness
thickness = [1, 2, 4, 6]

# Common length in feet
lengths = [4, 6, 8, 10, 12]

combinations = set()

for width in widths:
    for thick in thickness:
        for length in lengths:
            price = (width * thick) * (length/12)
            if price < 1:
                price = price + 1
            if width < thick:
                combinations.add((width, thick, length, price))
            else:
                combinations.add((thick, width, length, price))

In [ ]:
query = 'INSERT INTO wood(width, thick, length, price) VALUES(?, ?, ?, ?)'
for width, thick, length, price in combinations:
    cursor.execute(query, (width, thick, length, price))
    connection.commit()

In [ ]:
query = 'SELECT * FROM wood WHERE price>14'
cursor.execute(query)
rows = cursor.fetchall()

for _, width, thick, length, price in rows:
    print(f"{width}x{thick} {length}ft USD$ {price}")

4x12 6ft USD$ 24.0
4x12 10ft USD$ 40.0
6x12 6ft USD$ 36.0
4x12 12ft USD$ 48.0
6x12 4ft USD$ 24.0
6x10 12ft USD$ 60.0
4x8 6ft USD$ 16.0
4x8 12ft USD$ 32.0
6x12 8ft USD$ 48.0
6x8 4ft USD$ 16.0
6x8 8ft USD$ 32.0
2x10 12ft USD$ 20.0
6x10 6ft USD$ 30.0
4x10 8ft USD$ 26.666666666666664
6x12 10ft USD$ 60.0
6x8 6ft USD$ 24.0
6x8 10ft USD$ 40.0
4x4 12ft USD$ 16.0
6x6 6ft USD$ 18.0
4x10 6ft USD$ 20.0
6x8 12ft USD$ 48.0
6x12 12ft USD$ 72.0
2x10 10ft USD$ 16.666666666666668
6x6 10ft USD$ 30.0
4x6 12ft USD$ 24.0
6x10 10ft USD$ 50.0
4x6 8ft USD$ 16.0
4x10 12ft USD$ 40.0
4x6 10ft USD$ 20.0
4x8 8ft USD$ 21.333333333333332
6x10 4ft USD$ 20.0
2x12 12ft USD$ 24.0
2x12 8ft USD$ 16.0
4x8 10ft USD$ 26.666666666666668
2x8 12ft USD$ 16.0
2x12 10ft USD$ 20.0
4x10 10ft USD$ 33.333333333333336
6x6 12ft USD$ 36.0
6x10 8ft USD$ 40.0
6x6 8ft USD$ 24.0
4x12 4ft USD$ 16.0
4x12 8ft USD$ 32.0