## Working with SQL in Python 
Use an in-memory Sqlite3 database to store and retrieve information with SQL queries

In [ ]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()
cursor.execute('create table wood (id integer primary key, width INTEGER, thick INTEGER, length INTEGER, price REAL)')
connection.commit()

In [ ]:
# Common wood widths
widths = [1, 2, 4, 6, 8, 10, 12]

# Common wood thickness
thickness = [1, 2, 4, 6]

# Common length in feet
lengths = [4, 6, 8, 10, 12]

combinations = set()

for width in widths:
    for thick in thickness:
        for length in lengths:
            price = (width * thick) * (length/12)
            if price < 1:
                price = price + 1
            if width < thick:
                combinations.add((width, thick, length, price))
            else:
                combinations.add((thick, width, length, price))

In [ ]:
query = 'INSERT INTO wood(width, thick, length, price) VALUES(?, ?, ?, ?)'
for width, thick, length, price in combinations:
    cursor.execute(query, (width, thick, length, price))
    connection.commit()

In [ ]:
query = 'SELECT * FROM wood WHERE price>10'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 4, 12, 6, 24.0)
(2, 4, 12, 10, 40.0)
(6, 1, 12, 12, 12.0)
(8, 6, 12, 6, 36.0)
(10, 2, 8, 10, 13.333333333333334)
(11, 4, 12, 12, 48.0)
(13, 6, 12, 4, 24.0)
(14, 6, 10, 12, 60.0)
(18, 4, 8, 6, 16.0)
(19, 4, 8, 12, 32.0)
(26, 6, 12, 8, 48.0)
(29, 6, 8, 4, 16.0)
(30, 6, 8, 8, 32.0)
(32, 2, 10, 12, 20.0)
(35, 6, 10, 6, 30.0)
(37, 4, 10, 8, 26.666666666666664)
(38, 6, 12, 10, 60.0)
(41, 6, 8, 6, 24.0)
(42, 6, 8, 10, 40.0)
(43, 4, 4, 12, 16.0)
(44, 6, 6, 6, 18.0)
(47, 4, 10, 6, 20.0)
(49, 2, 6, 12, 12.0)
(50, 6, 8, 12, 48.0)
(53, 6, 12, 12, 72.0)
(58, 2, 10, 10, 16.666666666666668)
(59, 6, 6, 10, 30.0)
(60, 4, 6, 12, 24.0)
(62, 6, 10, 10, 50.0)
(66, 4, 6, 6, 12.0)
(69, 2, 12, 6, 12.0)
(71, 4, 6, 8, 16.0)
(74, 4, 10, 12, 40.0)
(75, 4, 6, 10, 20.0)
(76, 4, 8, 8, 21.333333333333332)
(77, 4, 4, 10, 13.333333333333334)
(82, 2, 8, 8, 10.666666666666666)
(83, 6, 10, 4, 20.0)
(84, 2, 12, 12, 24.0)
(88, 6, 6, 4, 12.0)
(89, 2, 10, 8, 13.333333333333332)
(90, 2, 12, 8, 16.0)
(91, 4, 8, 10, 26.666666666666668)
(92, 2, 8, 12, 16.0)
(94, 2, 12, 10, 20.0)
(96, 4, 10, 10, 33.333333333333336)
(97, 6, 6, 12, 36.0)
(100, 6, 10, 8, 40.0)
(101, 6, 6, 8, 24.0)
(102, 4, 10, 4, 13.333333333333332)
(103, 4, 12, 4, 16.0)
(106, 4, 12, 8, 32.0)
(108, 4, 8, 4, 10.666666666666666)
(110, 4, 4, 8, 10.666666666666666)